# Python bytecode and cache files
__pycache__
*.pyc
*.pyo

# Python distribution files
dist/
build/
*.egg-info/

# Python compiled extensions
*.pyd

# Executables
*.exe
*.pdb

# Logs
*.log

# IDE/editor specific files
.vscode/

# Custom project files
git_commits.py
test.py
*.pdb

# Temporary or binary files
bin/
obj/
build/

# Python package distribution configuration
.pypirc


# Environment variables file
.env